<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<header>
    <h1>Cart</h1>
</header>
<main>
    <div class="cart-container">
        <ul id="cart-item" class="cart-list">
       <!--        вывод из js-->
        </ul>
        <div class="cart-total" id="total"></div>

    </div>
</main>
<footer><a href="/" class="button">Menu</a></footer>
<script src="../static/script.js"></script>
</body>
</html>